html {
    background: no-repeat url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div#content {}

#home {
    color: blue;
}